@import "src/assets/style";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;

  .img {
    height: 100%;
  }

  .text {
    font-size: calc($fontSize * 1.25);
    color: $colorFont;
  }
}
