#root {
    //max-width: 1280px;
    margin: 0 auto;
    font-size: $fontSize;
    color: $colorFont;
}

.MG {
    margin: $defaultMargin;
    &-T {
        margin-top: $defaultMargin;
    }
    &-B {
        margin-bottom: $defaultMargin;
    }
    &-R {
        margin-right: $defaultMargin;
    }
    &-L {
        margin-left: $defaultMargin;
    }
}