$fontFamily: 'Montserrat';
$fontSize: 16px;
$fontWeight: 400;
$colorFont: #495057;
$titleFontSize: 26px;
$firstColor: #ffd43b;
$secondColor: #c2d4e8;
$thirdColor: #6bb7ec;
$forthColor: #A5A5A5;
$waringColor: #FF0000;
$headerHeight: 40px;
