@import"../../../assets/style/index.scss";

.main{
    display: flex;
    justify-content: center;
    margin-top: 25px;

   .select{
        margin-left: 10px;
        font-size: 18px;
        border: 1px solid #ccc;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
    }
}