@import'../../../assets/style/index.scss';

.name{
  color: $thirdColor;
}

.argument{
  & > * + * {
    margin-top: 30px;
  }
  &_deprecation{
  background-color: $waringColor;
  border: 1px solid $waringColor;
  border-radius: 4px;
  color: $waringColor;
  padding: 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;

  &_label{
  font-size: 19px;
  font-weight: 700;
  }
}
}