@import"../../../assets/style/index.scss";

.promo {
	position: relative;
  height: 80vh;
  background: url("../../../assets/img/main_bg.avif") center center/cover no-repeat;
  padding-top: 120px;

	&__btns {
		position: absolute;
		top: 3%;
		right: 2%;
		width: 400px;
		display: grid;
		grid-template-columns: 1fr 3fr 2fr;
		align-items: center;
		gap: 15px;
	}

	&__wrapper {
		width: 890px;
	}

	&__header {
		font-weight: 700;
		color: $white;
		font-size: 22px;
		line-height: 30px;
	}
	
	&__subheader {
		font-weight: 700;
		font-size: 30px;
		line-height: 36px;
		color: rgb(253, 255, 182);
		width: 662px;
		margin-top: 10px;
	}
}