@import"../../assets/style/index.scss";

.team {
  display: flex;
  justify-content: space-between;
	
	.member {
		text-align: center;
		margin: 20px;
	}

	.member_photo {
		width: 200px;
		height: 200px;
		object-fit: cover;
		border-radius: 50%;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		transition: transform 0.3s ease-in-out;
		&:hover {
			transform: translateY(-5px);
		}
	}

	.member_info {
		margin-top: 10px;
	}

	.member_name {
		font-size: 20px;
		font-weight: bold;
		color: #333;
	}

	.member_description {
		margin-top: 5px;
		color: #666;
	}
}