@import"../../assets/style/index.scss";

.main{
    display: flex;
    justify-content: center;
    margin-top: 10px;

    .button{
        margin: 0 20px;
        padding:  15px 10px;
        border: none;
        display: inline;
        background-color: $thirdColor;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        font-weight: bold;
        transition: 1s;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;

        &:hover{
            transform: scale(1.05);
            -webkit-transform: scale(1.05);
            -moz-transform: scale(1.05);
            -ms-transform: scale(1.05);
            -o-transform: scale(1.05);
}
}
}