@import"../../assets/style/index.scss";

.header {
  width: 100%;
  height: 40px;
  background-color: $secondColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  transition: 1s;
}

.header_sticky {
  background-color: $thirdColor;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $titleFontSize;
  font-style: italic;
  width: 120px;
  height: 100%;
  background-color: $firstColor;
}

