@import"../../assets/style/index.scss";

.header {
  height: $headerHeight;
  background-color: $secondColor;
  display: grid;
  grid-template-columns: 1fr 400px 1fr;
  align-items: center;
  position: fixed;
  top: 0;
  max-width: 1800px;
  width: 100%;
  transition: 1s;
  z-index: 9999;

  &_sticky {
    background-color: $thirdColor;
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $titleFontSize;
    font-style: italic;
    width: 150px;
    height: 100%;
    background-color: $firstColor;
  
    .logo {
      width: 40px;
      height: 40px;
    }
  }

  .corner {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-self: end;
    gap: 15px;
  }
}
