@import"../../assets/style/index.scss";

.localization{
  width: 80px;
  text-align: center;

  .switcher {
    width: 35px;
    height: 35px;
    background-color: $firstColor;

    &_sticky {
      background-color: $secondColor;
    }

    &_active {
      pointer-events: none;
      border: 1px solid $fontColor;
    }
  }

}

@media (max-width: 992px) {
  .localization {
    width: unset;
  }
}

@media (max-width: 576px) {
  .localization {
    width: unset;
    grid-row: 1 / 3;
    align-self: center;

    .switcher {
      width: 30px;
    }
  }
}