@import"../../assets/style/index.scss";

.localization{
  display: flex;
  width: 80px;
  justify-content: space-between;

  .switcher {
    width: 35px;
    height: 35px;
    background-color: $thirdColor;

    &_sticky {
      background-color: $secondColor;
    }

    &_active {
      pointer-events: none;
      border: 1px solid $colorFont;
    }
  }

}
