@import"../../assets/style/index.scss";

.preview {
	position: relative;
	&__btns {
		position: absolute;
		top: 3%;
		right: 2%;
		width: 300px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 15px;
	}
  min-height: 765px;
  height: 80vh;
  background: url("../../assets/main_bg.avif") center center/cover no-repeat;
  padding-top: 120px;
	&__wrapper {
		width: 890px;
	}
	&__header {
		margin: 0;
		font-weight: 700;
		color: $welcomeTextColor;
		font-size: 20px;
		line-height: 30px;
	}
	&__subheader {
		margin-top: 35px;
		font-weight: 700;
		font-size: 48px;
		color: $welcomeTextColor;
		width: 700px;
		margin-top: 10px;
	}
}
